*{
  box-sizing: border-box;
}

body{
  margin:0;
  padding: 0;
  background-color: rgb(230, 221, 209);
}

.container{
  margin:2.3rem auto 0 auto;
  width:80%;
  border-radius: 15px 15px 0 0;
}

/*h1, h2, p {
  color:white;
}*/

h1, h2{
  font-family: 'Raleway', sans-serif;
}

p, li{
  font-family: 'Quicksand', sans-serif;
}

/*NAVIGATION*/
nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px 0 10px 0;
}

nav ul{
  text-decoration: none;
  text-align: center;
}

nav ul li{
  display: inline;
  margin: 0 2.7rem;
}

a{
  text-decoration: none;
  color: inherit;
}

/*HEADER*/
.screen h1{
  margin-top:0;
  text-transform: uppercase;
}

/*BODY*/
.about, .merch{
  margin: 10px;
}

.about h2,
.merch h2{
  vertical-align: top;
  display: inline-block;
  font-size: 2rem;
  width: 50%;
}

.about p,
.merch p{
  width: 49%;
  display: inline-block;
}

/*IMAGE COLLECTION*/
.images{
  border-top: 2.5px solid black;
  padding: 20px;
  text-align: center;
}

.images img{
    display: inline-block;
}

/*//Opaque / price box on hover*/
.gloss{
  display: inline-block;
}

.contact{
  border-top: 1px solid black;
  margin-top: 10px;
}

.resize{
  height: 300px;
  width: 300px;
}

/*FOOTER*/
#copyright{
  position: absolute;
  width: 100%;
  background-color: rgb(23, 23, 23);
  text-align: center;
  color: white;
  padding: 2rem;
}
